.content
  %table.list1
    %tr
      %td
        = @question.category
    %tr
      %td
        = @question.title
    %tr
      %td
        = simple_format(@question.overview)
  %table.list2
    %tr
      %td
        = @question.user.nickname + ' さん が登録'
    %tr
      %td
        = @question.created_at.strftime('%Y/%m/%d %H:%M') + ' に登録'
    %tr
      %td
        = @question.updated_at.strftime('%Y/%m/%d %H:%M') + ' に更新'
  .submit
    = link_to 'この問題をタイピングする', play_question_path
  - if user_signed_in? && current_user.id == @question.user_id && @question.user_id != @default_user_id
    .submit.destroy
      = link_to 'この問題を削除する', question_path, method: :delete