!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GameTyping
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = include_gon
  %body
    .flash.flash__notice
      = notice
    .flash.flash__alert
      = alert
    .header
      .header__bar.row
        .title
          = link_to "英語タイピング", root_path
        - if user_signed_in?
          .user_nav
            .nickname
              = current_user.nickname
            %ul.user__info
              %li
                = link_to "問題登録", new_question_path, method: :get
                = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          .newuser
            = link_to "ログイン", new_user_session_path, class: 'btn'
            = link_to "新規登録", new_user_registration_path, class: 'btn'
    = yield
